{% extends 'authentication/base.html' %}

{% block title %}Todo List{% endblock %}

{% block content %}
<div class="card mt-3">
  <div class="card-header">
    Todo List
  </div>
  <div class="card-body">
    <h1 class="card-title">Todo List</h1>
    <ul class="list-group">
      {% for todo in todos %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <a href="{% url 'todo_update' todo.pk %}" class="text-decoration-none">{{ todo.title }}</a> - {{ todo.description }}
        </div>
        <form action="{% url 'todo_delete' todo.pk %}" method="POST" style="display: inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
      </li>
      {% empty %}
      <li class="list-group-item">No todos yet.</li>
      {% endfor %}
    </ul>
    <a href="{% url 'todo_create' %}" class="btn btn-primary mt-3">Create a new todo</a>
  </div>
</div>
{% endblock %}
