{% extends 'authentication/base.html' %}

{% block title %}User List{% endblock %}

{% block content %}
<div class="card mt-3">
  <div class="card-header">
    User List
  </div>
  <div class="card-body">
    <ul class="list-group">
      <!-- Iterate over object_list -->
      {% for object in object_list %}
      <li class="list-group-item">
        <h5 class="card-title">User {{ object.id }}</h5>
        <p class="card-text">
          <strong>Username:</strong> {{ object.username }}<br>
          <strong>Email:</strong> {{ object.email }}
        </p>
      </li>
      {% empty %}
      <!-- If object_list is empty -->
      <li class="list-group-item">No users yet.</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
